# Application Environment (development | production)
APP_ENV=development

# Database
DB_DATABASE=app
DB_USERNAME=app
DB_PASSWORD=

# Laravel
# Generate with: php artisan key:generate --show
LARAVEL_APP_KEY=

# Nuxt
NUXT_PUBLIC_API_BASE=/api
